@charset "UTF-8";

:root {
    --cor-fundo: linear-gradient(55deg, rgb(250, 165, 6), black);
    --cor-submenu: rgb(172, 114, 8);
    --cor-hover: rgb(226, 190, 30);
    --cor-primaria: rgb(231, 241, 236);
}

#marcado {
    color: black;
}



/* .dp-menu ul li:hover ul {
    display: block;
} */

a.nav-link:hover {
    color: rgb(0, 0, 0);
}